@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Category_Product.Models.Product>
@{
    ViewBag.Title = "ProductListPartial";
}

<h2>ProductListPartial</h2>

@{ 
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Category.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Category.CategoryName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                </td>
            </tr>
        }
    </table>
}
<div>

    <div class="pagination" style="margin-left: 400px">

   Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount   
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))

    </div>

</div>
